*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
    
}
#heading{
    font-size: 3rem;
    color: black;
    margin-top: 1rem;
    margin-right: 4rem;
    text-align: center;
}
.main_container{
    width:25rem;
    max-width: 1500%;
    background-color: wheat;
    margin-left: 28rem;
    padding:1rem;
    border-radius: 10px;
    background: linear-gradient(135deg,blue,violet);
}
.main_container h1{
    font-size: 2rem;
    text-align: center;
    margin-left: 3rem;
}
.search{
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
}
#searchbar{
    width: 15rem;
    height: 3rem;
    margin-top: 1rem;
    border-radius: 10px;
    border: none;
    font-family: cursive;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    font-size: 2rem;
    
}
i{ 
    font-size: 2rem;
    height: 2rem;
}
button{
    border-radius: 10px;
    padding:6px;
    border: none;
    margin-left:0.5rem;
    cursor: pointer;
    padding-bottom: 10px;
}
.weather_icon{
    margin-left: 5rem;
}
.temperature 
{
    margin-top: 0.5px;
    text-align: center;
    
}
.city{
    text-align: center;
}
.details{
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
    justify-content: space-around;
}
#icon_size{
    font-size: 1rem;
    width:3rem;
    margin-left: 0.5rem;
}
.col p{
    font-size: 1.5rem;
    margin-left: 0.5rem;
    font-weight: bold;
}
.container{
    display: none;
}
.error{
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 2rem;
    font-weight: bold;
    display: none;
}

